img {
    height: 200px;
    width: 200%;
    background-color: powderblue;
  }
body {
    background-image: url("https://image.winudf.com/v2/image/Y29tLnN1YWRhaDA2MTEuYW5pbWVnaXJsa2F3YWlpYXBwX3NjcmVlbl8yXzE1MjM4OTA0OTRfMDI0/screen-2.jpg?h=355&fakeurl=1&type=.jpg");
  }
  